<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.olivemedia.olivemediasampleproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="co.olivemedia.olivemediasampleproject.app.OliveMediaApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="co.olivemedia.olivemediasampleproject.activities.SplashscreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--          <receiver
    android:name="co.olivemedia.olivemediasampleproject.activities.MeetingsActivity$AlarmReceiver"
    android:exported="false">
</receiver>  -->
<service
    android:name="co.olivemedia.olivemediasampleproject.services.RepeatCallService"
    android:enabled="true" />
        <activity
            android:name="co.olivemedia.olivemediasampleproject.activities.MeetingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>